{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}

    {% if mode == 'update' %}
        <h1>Modifier un campus</h1>
    {% else %}
        <h1>Ajouter un campus</h1>
    {% endif %}

    <form method="post" data-turbo="false">
        <div class="mb-3">
            <label for="town" class="form-label">Campus</label>
            <input type="text" id="town" name="town" value="{{ site.name }}" class="form-control">
        </div>
        {% if mode == 'update' %}
            <button type="submit" class="btn btn-primary">Modifier</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {% endif %}
    </form>
{% endblock %}
