body {
    padding: 20px;
}
.event-info dt {
    font-weight: bold;
}
.event-info dd {
    margin-bottom: 10px;
}
.participants-table {
    max-width: 500px;
    max-height: 250px;
    overflow-y: auto;
    thead th {
        position: sticky;
        top: 0;
        background: white;
        z-index: 2;
    }
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.sortir-logo {
    color: #4e73df;
}

form .form-group label {
    font-weight: 500;
}

.card-body {
    display: flex;
    align-items: flex-end;
    text-align: center;

    justify-content: space-between;
}

.buttonAndText {
    display: flex;
    gap : 20px;
}

.buttonAndText h5 p {
    margin: 0;
}