<h1>Bonjour  {{ user.name }}!</h1>

<p>La sortie {{ event.name }} a été annulée car : {{ cancelReason }}</p>

<a href="{{ url('event_display',{'id': event.id})}}">Lien vers la sortie</a>

<p>à bientôt !</p>